---
// Access passed-in component props, like `<X title="Hello, World" />`
const { cover, size, link, alone } = Astro.props;
// Fetch external data, even from a private API or database
---

{
	!alone ? (
		<a class="" aria-label={!alone ? "Go to album" : ""} href={link}>
{ cover &&	<img src={cover} class={`${size} rounded-full ring-4`} />}
		</a>
) : (
<span>
{ cover &&	<img src={cover} class={`${size} rounded-full ring-4`} />}
</span>
	)
}
